/* колір основного тектсу #212121 */
/* вторинний колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* адреса (футер) rgba(255, 255, 255, 0.6) */
/* рік (футер) rgba(255, 255, 255, 0.4) */
/* вторичний колір фону #F5F4FA */
/* колір фону футера #2F303A */

.list {
  list-style: none;
}

/* hero */

.hero .hero-title {
  color: var(--third-color);
}
/* section */
.section-title {
  color: var(--primary-text-color);
}
/* Features */
.feature-list .title {
  color: var(--primary-text-color);
}
.feature-list .features-text {
  color: var(--secondary-text-color);
}
/* Work */
.work-list .title {
  color: var(--third-color);
}
/* Our team */
.background-color {
  background-color: var(--secondary-background-color);
}

.team-list .teammate {
  color: var(--primary-text-color);
}
.team-list .major {
  color: var(--secondary-text-color);
}
